<footer class="site-footer text-xs-center">
    <div class="container-fluid">
        <p class="float-md-left ">Copyright
            <i class="fa fa-copyright"></i> RevolutionVA All&nbsp;Rights&nbsp;Reserved
        </p>
        <nav class="nav nav-inline float-md-right">
            <a class="nav-link nobr" href="/code-of-conduct">Code of Conduct</a>
            <a class="nav-link nobr" target="_blank" href="mailto:team@revolutionconf.com">Contact
                Us</a>
            <a class="nav-link nobr" target="_blank"
               href="https://drive.google.com/open?id=0B0HrtfzUfLt6QjFVYW9VeV9vejQ">Sponsor
                Prospectus</a>
            <a class="nav-link nobr" target="_blank" href="http://2016.revolutionconf.com">2016
                Website</a>
        </nav>
    </div>
</footer>

<script src="https://apis.google.com/js/api:client.js"></script>
<script src="https://cdn.jsdelivr.net/g/jquery@2.2.4,jquery.lazyload@1.9.3"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-70908360-1', 'auto');
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '265019173943512'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=265019173943512&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
</body>
</html>
