<%- include('partials/header') %>
<div class="page-sections">

    <div class="section-wrapper section-title full-height">

        <div class="section-position"></div>
        <div class="section full-height">
            <div class="container-fluid">

                <h1 id="site-title-fit-text" class="league-gothic">4<span class="divider"></span>4
                </h1>
                <p>Not sure what you were looking for.</p>
            </div>
        </div>
    </div>

</div>
<%- include('partials/footer') %>