<%- include('partials/header') %>
<div class="page-sections">

    <div class="section-wrapper section-home full-height">
        <div class="section-position"></div>
        <div class="section full-height">
            <div class="container-fluid">

                <h1 id="site-title-fit-text" class="league-gothic text-xs-center">REVCONF
                    <br class="visible-xs-inline"><span class="divider"></span> 2017
                </h1>

                <div class="row">
                    <div class="col-sm-6 site-info date text-xs-center text-sm-right text-grey">
                        <strong>June 1-2</strong>
                    </div>
                    <div class="col-sm-6 site-info numbers text-xs-center text-sm-left">
                        <span>56 <span class="text-grey">Speakers</span></span><br>
                        <span>500 <span class="text-grey">Attendees</span></span><br>
                        <span>0 <span class="text-grey">ft from the Beach</span></span>
                    </div>
                </div>

                <p class="slogan text-xs-center">
                    <br>
                    <em>
                        <span class="nobr">Join the Revolution:</span>
                        <span class="nobr">Uniting software professionals.</span>
                    </em>
                </p>

                <div class="row text-xs-center">
                    <div class="col-sm-6">
                        <p>
                            <span style="display: inline-block; margin-top: 1em;">Call for Speakers!</span><br><br>
                            <a href="https://www.papercall.io/revconf-2017"
                               class="btn btn-primary btn-lg"
                               style="margin-top: 0;">
                                <i class="fa fa-bullhorn"
                                   style="font-size: 110%; transform: rotate(-15deg);"></i>&ensp;Submit
                                Your&nbsp;Talk</a></p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            <span style="display: inline-block; margin-top: 1em;">Tickets On Sale Now!</span><br><br>
                            <a href="http://tickets.revolutionconf.com"
                               class="btn btn-primary btn-lg"
                               style="margin-top: 0;">
                                <i class="fa fa-ticket" style="font-size: 110%;"></i>&ensp;Get
                                Your&nbsp;Ticket</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="section-wrapper section-about">
        <div class="section-position" id="about"></div>
        <div class="section">
            <div class="container">

                <h2 class="league-gothic section-title">About</h2>

                <div class="intro-text">
                    <p>RevolutionConf is a two-day, platform and language agnostic, software
                        development conference being held on June 1-2 2017.</p>
                    <p>This year, we are taking over the beautiful Wyndam Virginia Beach Oceanfront.
                        With 15,000 sq. ft of conference space, on the world famous North End of
                        Virginia Beach, VA, we are hosting talks from regional, national, and
                        international thought leaders.</p>
                    <p>RevolutionConf is organized and supported by the board members of
                        RevolutionVA, a 501c3 non-profit based in Norfolk, VA. The goal of
                        RevolutionVA is to unite software developers in the mid-Atlantic region
                        through conferences, and career and learning opportunities.</p>
                </div>
                <h3 class="h2 league-gothic">Our Organizers</h3>
                <div class="organizers">
                    <div class="row">

                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="embed-responsive embed-responsive-1x1">
                                <div class="embed-responsive-item">
                                    <img src="/img/organizers/erik.png">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-8 col-sm-3  col-md-2 info">
                            <h4 class="ng-binding">Erik Olson</h4>
                            <p class="ng-binding">CEO, Programmer <br>
                                <a class="text-grey" target="_blank"
                                   href="http://8020.co">80|20</a>
                            </p>
                            <p class="social">
                                <a target="_blank" href="https://twitter.com/erikpmp"><i
                                            class="fa fa-twitter"></i></a>
                                <a target="_blank" href="https://www.linkedin.com/in/erikpmp"><i
                                            class="fa fa-linkedin"></i></a>
                                <a target="_blank" href="https://www.facebook.com/erikpmp"><i
                                            class="fa fa-facebook-official"></i></a>
                            </p>
                        </div>

                        <div class="clearfix visible-xs"></div>
                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="embed-responsive embed-responsive-1x1">
                                <div class="embed-responsive-item">
                                    <img src="/img/organizers/kevin.png">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-8 col-sm-3 col-md-2 info">
                            <h4 class="ng-binding">Kevin Griffin</h4>
                            <p class="ng-binding">Owner, President, Consultant<br>
                                <a class="text-grey" target="_blank"
                                   href="http://kevgriffin.com/">Griffin Consulting</a>
                            </p>
                            <p class="social">
                                <a target="_blank" href="https://twitter.com/1kevgriff"><i
                                            class="fa fa-twitter"></i></a>
                                <a target="_blank" href="https://www.linkedin.com/in/1kevgriff"><i
                                            class="fa fa-linkedin"></i></a>
                                <a target="_blank" href="https://www.facebook.com/1kevgriff"><i
                                            class="fa fa-facebook-official"></i></a>
                            </p>
                        </div>
                        <div class="clearfix visible-xs visible-sm"></div>

                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="embed-responsive embed-responsive-1x1">
                                <div class="embed-responsive-item">
                                    <img src="/img/organizers/linda.png">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-8 col-sm-3 col-md-2 info">
                            <h4 class="ng-binding">Linda Nichols</h4>
                            <p class="ng-binding">Software Engineer <br>
                                <a class="text-grey" target="_blank"
                                   href="http://eta.im/">ETA</a>
                            </p>
                            <p class="social">
                                <a target="_blank" href="https://twitter.com/lynnaloo"><i
                                            class="fa fa-twitter"></i></a>
                                <a target="_blank" href="https://www.linkedin.com/in/lynnaloo"><i
                                            class="fa fa-linkedin"></i></a>
                                <a target="_blank" href="https://www.facebook.com/lynnaloo"><i
                                            class="fa fa-facebook-official"></i></a>
                                <a target="_blank" href="http://norfolkjs.org"><i
                                            class="fa fa-globe"></i></a>
                            </p>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="section-wrapper section-tickets bg-grey">
        <div class="section-position" id="tickets"></div>
        <div class="section">
            <div class="container">
                <h2 class="section-title league-gothic">Tickets</h2>

                <p class="intro-text">Early bird tickets on sale now. For the die-hard fans. The
                    best rate possible.</p>
                <p><a href="http://tickets.revolutionconf.com" class="btn btn-primary btn-lg"
                      target="_blank" style="margin-top: 0;"><i class="fa fa-ticket"></i>&ensp;Get
                        Your&nbsp;Ticket</a></p>
            </div>
        </div>
    </div>

    <div class="section-wrapper section-speakers bg-dark">
        <div class="section-position" id="speakers"></div>
        <div class="section">
            <div class="container">
                <h2 class="section-title league-gothic">Speakers</h2>

                <p class="intro-text">Some of the best minds in the software industry are converging
                    in Virginia Beach in May for RevolutionConf.<br><br>
                    Developers. Thought Leaders. Industry Experts. They'll be here to share their
                    insights and knowledge and to motivate you to be better.</p>

                <h3 class="h1 league-gothic">Alumni Discussion Panel</h3>

                <div class="discussion-panel">
                    <div class="row">

                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="embed-responsive embed-responsive-1x1">
                                <div class="embed-responsive-item">
                                    <img src="/img/discussion-panel/aimee.png">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-8 col-sm-3  col-md-2 info">
                            <h4 class="ng-binding">Aimee Knight</h4>
                            <p class="ng-binding">Software Engineer<br>
                                <a class="text-grey" target="_blank"
                                   href="https://www.dramafever.com/company/">DramaFever</a>
                            </p>
                            <p class="social">
                            </p>
                        </div>

                        <div class="clearfix visible-xs"></div>

                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="embed-responsive embed-responsive-1x1">
                                <div class="embed-responsive-item">
                                    <img src="/img/discussion-panel/erika.png">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-8 col-sm-3 col-md-2 info">
                            <h4 class="ng-binding">Erika Carlson</h4>
                            <p class="ng-binding">Director of Apprenticeship & Training<br>
                                <a class="text-grey" target="_blank"
                                   href="https://www.detroitlabs.com/">Detroit Labs</a>
                            </p>
                            <p class="social">
                            </p>
                        </div>

                        <div class="clearfix visible-xs visible-sm"></div>

                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="embed-responsive embed-responsive-1x1">
                                <div class="embed-responsive-item">
                                    <img src="/img/discussion-panel/jason.png">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-8 col-sm-3  col-md-2 info">
                            <h4 class="ng-binding">Jason Staughan</h4>
                            <p class="ng-binding">Co-Founder Grok Interactive and Codeup<br>
                                <a class="text-grey" target="_blank"
                                   href="https://www.grok-interactive.com/">Grok Interactive</a>
                            </p>
                            <p class="social">
                            </p>
                        </div>

                        <div class="clearfix visible-xs visible-md visible-lg"></div>

                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="embed-responsive embed-responsive-1x1">
                                <div class="embed-responsive-item">
                                    <img src="/img/discussion-panel/mike.png">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-8 col-sm-3 col-md-2 info">
                            <h4 class="ng-binding">Mike Hostetler</h4>
                            <p class="ng-binding">CEO, Publisher<br>
                                <a class="text-grey" target="_blank"
                                   href="https://modernweb.com/">Modern Web</a>
                            </p>
                            <p class="social">
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="section-wrapper section-sponsors">
        <div class="section-position" id="sponsors"></div>
        <div class="section">
            <div class="container">
                <h2 class="section-title league-gothic">Sponsors</h2>

                <p class="intro-text">We want to thank our generous sponsors for making this event
                    possible and for showing their commitment to making our community
                    better...stronger...faster!</p>

                <p><a target="_blank"
                      href="https://drive.google.com/open?id=0B0HrtfzUfLt6QjFVYW9VeV9vejQ"
                      outbound-track="" class="btn btn-primary btn-lg">Want to Sponsor?</a></p>
            </div>
        </div>
    </div>

    <div class="section-wrapper section-location bg-grey">
        <div class="section-position" id="location"></div>
        <div class="section">
            <div class="container">
                <h2 class="section-title league-gothic">Location</h2>

                <div class="row">
                    <div class="col-xs-6">
                        <h3>Wyndham Virginia Beach Oceanfront</h3>
                        <p>5700 Atlantic Ave, Virginia Beach, VA 23451<br><a
                                    href="tel://7574287025">(757) 428-7025</a></p>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
<%- include('partials/footer') %>