//colors
$color_bright_red_approx: #a00;
$color_mountain_mist_approx: #999;
$color_storm_dust_approx: #666;
$white: #fff;
$black: #000;
$white_8: rgba(255, 255, 255, .08);
$color_tundora_approx: #444;
$black_30: rgba(0, 0, 0, .3);
$color_woodsmoke_approx: #111;
$color_milano_red_approx: #d51305;
$color_celeste_approx: #ccc;
$color_gray_approx: #7e7e7e;
$color_pink_swan_approx: #bbb;
$gray: gray;
$white_50: rgba(255, 255, 255, .5);
$white_70: rgba(255, 255, 255, .7);
$color_alto_approx: #ddd;
$color_log_cabin_approx: #232323;
$color_silver_chalice_approx: #b0b0b0;
$black_70: rgba(0, 0, 0, .7);
$white_40: rgba(255, 255, 255, .4);
$color_mine_shaft_approx: #333;
$white_10: rgba(255, 255, 255, .1);
$white_95: rgba(255, 255, 255, .95);
$black_75: rgba(0, 0, 0, .75);
$white_80: rgba(255, 255, 255, .8);
$color_rangoon_green_approx: #1e1b1b;
$black_5: rgba(0, 0, 0, .05);
$color_woodsmoke_75_approx: rgba(17, 17, 17, .75);

//fonts
$font_family_gothic: League Gothic, Arial Narrow, Haettenschweiler, Franklin Gothic, Charcoal, Helvetica Inserat, Bitstream Vera Sans, Arial Black, sans serif;

$font_family_sans: Open Sans, Arial, Helvetica, sans-serif;

//urls
$url_1: url('../images/layout/hero_1400px.png');
$logo_grunge: url('../images/layout/logo_grunge.png');

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// text alignment
body {

	.text-xs-left {
		text-align: left;
	}

	.text-xs-right {
		text-align: right;
	}

	.text-xs-center {
		text-align: center;
	}

	.text-xs-justify {
		text-align: justify;
	}

	@media (min-width: $screen-sm-min) {
		.text-sm-left {
			text-align: left;
		}
		.text-sm-right {
			text-align: right;
		}
		.text-sm-center {
			text-align: center;
		}
		.text-sm-justify {
			text-align: justify;
		}
	}

	@media (min-width: $screen-md-min) {
		.text-md-left {
			text-align: left;
		}
		.text-md-right {
			text-align: right;
		}
		.text-md-center {
			text-align: center;
		}
		.text-md-justify {
			text-align: justify;
		}
	}

	@media (min-width: $screen-lg-min) {
		.text-lg-left {
			text-align: left;
		}
		.text-lg-right {
			text-align: right;
		}
		.text-lg-center {
			text-align: center;
		}
		.text-lg-justify {
			text-align: justify;
		}
	}

}

@import "fontello.css";

body {
	background-color: $color_bright_red_approx;
	letter-spacing: .025em;
	font-family: $font_family_sans;
	overflow-y: scroll;
	word-wrap: break-word;
	&.modal-open {
		padding: 0 !important;
		overflow-y: scroll !important;
	}
	&.page {
		background-color: #fff;
		background-image: url('../images/layout/background1.png');

		> .container {
			padding: 5em 0 0;
			margin-bottom: 4em;
		}
	}
}

html {
	background-color: $color_bright_red_approx;
	font-size: 18px;
}

h2, h3, h4, h5 {
	margin-bottom: 1em !important;
}

.embed-responsive-1x1 {
	padding-bottom: 100%;
}

.league-gothic {
	font-family: $font_family_gothic;
}

.contributor {
	cursor: pointer;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: .25rem;
	padding: 1rem;
	margin-bottom: 1rem;
	&:hover {
		background: $black_5;
		.square-container .cover {
			opacity: 1;
			background: $color_woodsmoke_75_approx;
			a {
				display: inline-block;
				margin: 0 .15rem;
				color: $white;
			}
		}
	}
	.square-container {
		.img-wrapper {
			left: -2px;
			top: -2px;
			bottom: -2px;
			right: -2px;
			z-index: 1;
			text-align: center;
		}
		.cover {
			left: -1px;
			top: -1px;
			bottom: -1px;
			right: -1px;
			z-index: 2;
			opacity: 0;
			font-size: 1.5rem;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 100%;
		}
	}
	p {
		margin-bottom: 0;
	}
}

[contributor-details] {
	cursor: pointer;
}

[ng-click] {
	cursor: pointer;
}

a {
	word-wrap: break-word;
	color: $color_bright_red_approx;
	&:focus {
		color: $color_bright_red_approx;
	}
	&:hover {
		color: $color_bright_red_approx;
		> img.greyscale {
			filter: none;
		}
	}
}

img {
	max-width: 100%;
	&.img-circle {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
	}
	&.greyscale {
		filter: grayscale(1);
		&:hover {
			filter: none;
		}
	}
}

.nobr {
	white-space: normal;
}

@media (min-width: $screen-sm-min) {
	.nobr {
		white-space: nowrap;
	}

}

.text-red {
	color: $color_bright_red_approx;
}

.text-grey {
	color: $color_mountain_mist_approx !important;
}

.text-darkgrey {
	color: $color_storm_dust_approx !important;
}

.open-sans {
	font-family: $font_family_sans;
}

p {
}

.form-inline {
	.input-icon-group {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
	.form-group {
		vertical-align: top;
	}
}

.input-icon-group {
	position: relative;
	.form-control {
		position: relative;
		padding-left: 2.35rem;
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
		padding: .375rem .75rem;
		line-height: 1.5;
	}
}

.rem-unit {
	height: 1rem;
}

hr {
	margin: 1.5rem 0;
}

.bg-dark {
	color: $white;
	a {
		color: $white;
		&:focus {
			color: $white;
		}
		&:hover {
			color: $color_mountain_mist_approx;
		}
	}
	hr {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 10px $black;
		border-top: 1px solid $white_8;
	}
}

.btn {
	white-space: normal;
	text-transform: uppercase;
	&.btn-lg {
		font-size: 1.5rem;
		letter-spacing: .075rem;
		text-transform: uppercase;
		padding: .75rem 2.25rem;
		max-width: 100%;
	}
	&.active {
		outline: 0;
		&:focus {
			outline: 0;
		}
	}
	&:focus {
		outline: 0;
	}
	&:active:focus {
		outline: 0;
	}
}

.square-container {
	position: relative;
	padding-bottom: 100%;
	text-align: center;
	overflow: hidden;
	> * {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

.circle-awesome {
	background: $black;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 100%;
	margin-bottom: 1rem;
	border: 1px solid $color_tundora_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: .25rem .25rem 1rem $black_30;
}

.modal-body {
	padding: 2rem;
	&.bg-dark {
		background: $color_woodsmoke_approx;
	}
}

.modal-dialog {
	max-width: 96vw;
}

.vertical-center {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	.content {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

.uppercase {
	text-transform: uppercase;
}

.text-primary {
	color: $color_bright_red_approx !important;
}

.btn-primary {
	color: $white !important;
	background-color: $color_milano_red_approx;
	border-color: $color_bright_red_approx;
	margin-top: 2rem;
	&.active {
		color: $white;
		background: $color_bright_red_approx none;
		border-color: $color_bright_red_approx;
		&.focus {
			background-color: $color_bright_red_approx;
			color: $white;
			border-color: $color_bright_red_approx;
		}
		&:focus {
			background-color: $color_bright_red_approx;
			color: $white;
			border-color: $color_bright_red_approx;
		}
		&:hover {
			background-color: $color_bright_red_approx;
			color: $white;
			border-color: $color_bright_red_approx;
		}
	}
	&:active {
		color: $white;
		background: $color_bright_red_approx none;
		border-color: $color_bright_red_approx;
		&.focus {
			background-color: $color_bright_red_approx;
			color: $white;
			border-color: $color_bright_red_approx;
		}
		&:focus {
			background-color: $color_bright_red_approx;
			color: $white;
			border-color: $color_bright_red_approx;
		}
		&:hover {
			background-color: $color_bright_red_approx;
			color: $white;
			border-color: $color_bright_red_approx;
		}
	}
	&:hover {
		background-color: $color_bright_red_approx;
		color: $white;
		border-color: $color_bright_red_approx;
	}
	&.focus {
		color: $white;
		background-color: $color_milano_red_approx;
		border-color: $color_bright_red_approx;
	}
	&:focus {
		color: $white;
		background-color: $color_milano_red_approx;
		border-color: $color_bright_red_approx;
	}
	&.disabled {
		background: $color_celeste_approx;
		color: $color_gray_approx !important;
		border-color: $color_pink_swan_approx;
		opacity: 1;
	}
}

.full-height {
	min-height: 100vh;
}

.row-center {
	text-align: center;
	> [class^=col-] {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
}

.site-header {

	position: fixed;
	height: 50px;
	z-index: 10;
	width: 100%;

	font-size: 1.8rem;
	line-height: 30px;
	text-transform: uppercase;

	.container-fluid {
		.nav > li > a {
			padding: 10px;
			> .icon {
				font-size: 80%;
			}
		}

		background: rgba(0, 0, 0, 0.8);
		ul.nav-pills {

			li {
				float: right;

				a {
					color: $white;
					&:focus {
						color: $color_bright_red_approx;
						background: #333;
					}
					&:hover {
						color: $color_bright_red_approx;
						background: #333;
					}
					&.slide-nav-toggle {
						color: $color_bright_red_approx;
						&.open {
							color: $color_bright_red_approx;
							i {
								transform: rotate(90deg);
							}
						}
					}
					&.active {
						color: $color_bright_red_approx;
						&:focus {
							color: $color_bright_red_approx;
						}
						&:hover {
							color: $color_bright_red_approx;
						}
					}
					&.open {
						color: $color_bright_red_approx;
						&:focus {
							color: $color_bright_red_approx;
						}
						&:hover {
							color: $color_bright_red_approx;
						}
					}
				}
			}
		}
	}

	.side-nav {
		display: none;

		&.open {
			display: block;
			position: absolute;
			z-index: 10;
			right: 0;
			top: 50px;
			background: #333;
			padding: 10px;
			text-align: right;
			a {
				color: $white;
				&:focus {
					color: $color_bright_red_approx;
					background: #000;
				}
				&:hover {
					color: $color_bright_red_approx;
					background: #000;
				}
			}
		}
	}
}

.btn-toggle {
	&.closed .fa-minus {
		display: none;
	}
	&.open .fa-plus {
		display: none;
	}
}

.page-sections .section-wrapper {

	.schedule {

		a {
			color: #eee;
		}

		.timeslot {
			margin: 0 0 1em;

			.times {
				margin: 0 !important;
				padding: 1em 0 1em 1em;
				background-color: rgba(0, 0, 0, 0.8);
			}

			.event {
				margin: 0 0 1em 3em;
				border-bottom: 1px solid #333;

				.title {
					margin: 0 0 0.5em !important;

				}
				.location {
					color: #666;
				}
				.speaker {
					a {
						color: #666;
					}
					display: inline-block;
					padding-left: 0.75em;
					margin-left: 0.5em;
					border-left: 1px solid #666;
				}
				.summary {
					margin-bottom: 1em;
				}
			}

			.times + .event {
				margin-top: 1em;
				padding-top: 1em;
				border-top: 1px solid #333;
			}

		}

		.fa-heart {
			color: $color_bright_red_approx;
		}
		.form-inline > * {
			margin-bottom: .5rem;
		}
	}
}

.site-footer {

	color: $white_70;
	padding: 3rem 0 0.75rem;
	font-size: 1rem;
	background-color: $black;

	a {
		color: $white;
		padding: 0 1em;
		&:hover {
			color: $color_celeste_approx;
		}
		& + a {
			border-left: 1px solid #fff;
		}
	}
	.container-fluid {
		padding: 0 30px;
	}
}

.navbar-dark {
	background: $black;
}

.page-title {
	color: $color_bright_red_approx;
	text-align: center;
	text-transform: uppercase;
	margin: 2rem 0 3rem;
	font-size: 3rem;
}

.page-sections {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;

	.section-wrapper + .section-wrapper .section {
		padding-top: 7em;
	}

	.section-wrapper {
		position: relative;
		display: table;
		width: 100%;
		background: #000 fixed center center;
		background-size: cover;
		box-shadow: inset 0 0 10em 3em rgba(0, 0, 0, 0.8);
		color: #fff;

		a {
			color: $gray;
			&:focus {
				color: $white;
			}
			&:hover {
				color: $color_mountain_mist_approx;
			}
		}
		hr {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 0 10px $black;
			border-top: 1px solid $white_8;
		}
		.section-position {
			margin-top: -2rem;
		}

		&.bg-dark {
			background-color: $color_log_cabin_approx;
			.section .section-subtitle {
				color: $white_50;
			}
		}
		&.bg-grey {
			background-color: $color_silver_chalice_approx;
		}
		.section {
			position: relative;
			z-index: 5;
			display: table-cell;
			width: 100%;
			padding: 55px 0 7em 0;
			vertical-align: middle;

			&.full-height {
				padding: 55px 0;
			}
			.section-title {
				color: $color_bright_red_approx;
				text-transform: uppercase;
				margin: 0 0 1.5rem;
				font-size: 3rem;
			}
			.section-subtitle {
				color: $black_70;
				text-align: center;
				text-transform: uppercase;
				margin: 0 0 1.5rem;
				font-size: 2.5rem;
			}
			.intro-text {
				font-size: 1.2rem;
				margin-bottom: 1.5em;
			}
			.container {
				position: relative;
				margin-top: auto;
				margin-bottom: auto;
			}
		}
		.background {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
		}
	}
}

.section-home.section-wrapper {

	background: $url_1 no-repeat fixed;
	background-size: cover;
	font-size: 28px;
	color: $white;

	h1 {
		font-size: 70px;
		line-height: 1;

		text-shadow: -3px -3px 2px #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 3px #a00;

		color: rgba(255, 255, 255, 1);

		.divider {
			display: inline-block;
			opacity: 0.9;
			width: 0.75em;
			height: 0.75em;
			background: $logo_grunge no-repeat;
			background-size: contain;
			vertical-align: center;
		}
	}

	.date-location {
		background-color: rgba(0, 0, 0, 0.5);
		padding: 1em 0;

		.site-info {

			&.date {
				line-height: 1;
				margin-bottom: 0.25em;
			}

			&.location {
				font-size: 18px;
				line-height: 1.1;
			}

			span {
				display: inline-block;
			}

			> span {
				padding: 0.125em 0;
			}

			> span.divider {
				padding: 0;
				vertical-align: middle;
				margin: 0 1em;
				height: 1.65em;

				> span {
					transform: rotate(30deg);
					width: 2px;
					background: #fff;
					height: 1.65em;
					opacity: 0.5;
				}
			}
		}
	}
}

.section-intro.section-wrapper {
	font-size: 28px;
	color: $white;

	.conference-description {
		color: $color_silver_chalice_approx;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 300;
	}

	.conference-logo {
		text-align: center;
		margin-top: 1rem;
		img {
			max-width: 90%;
			max-height: 50vh;
		}
	}
	.row {
		margin-top: 3rem;
		margin-bottom: 2rem;
		.border {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 1px;
			background: $white_40;
		}
		i.fa {
			margin-right: 10px;
			color: $color_bright_red_approx;
		}
		&.dividers > div {
			position: relative;
			margin-bottom: .5em;
		}
	}
}

.section-about.section-wrapper {
	background-image: url('../images/layout/background1.png');
}

.section-page.section-wrapper {
	background-image: url('../images/layout/background1.png');
}

.section-location.section-wrapper {
	background-image: url('../images/layout/background4.png');
}

.section-location {

	.container-slider {
		max-width: 100vw;
		overflow: hidden;
		margin: 2em 0;
		.slider {
			overflow: hidden;
			.images {
				white-space: nowrap;
				img {
					width: auto;
					max-height: 75vh;
					max-width: none;
				}
			}
		}
	}

}

.section-tickets.section-wrapper {
	background-image: url('../images/layout/background4.png');
}

.section-sponsors.section-wrapper {
	background-image: url('../images/layout/background2.png');
}

.section-speakers.section-wrapper {
	background-image: url('../images/layout/background3.png');
}

.human {
	img {
		-webkit-filter: grayscale(1);
		filter: grayscale(1);
		width: 100%;
	}
	.clearfix {
		margin-bottom: 1rem;
	}
	.row {
		background-color: rgba(255, 255, 255, 0.05);
		margin: 0;
		> div {
			padding: 0;
			&.info {
				padding: 10px 15px 0 17px;
				margin: 15px 0 0 -20px;
				background-color: rgba(20, 20, 20, 0.9);
				> .title {
					font-style: italic;
					font-size: 0.8rem;
				}
				.company {

				}
				.social {
					margin: 0 -3px 0.5em;
					font-size: 1rem;
					a {
						margin: 0 3px;
					}
				}
				.talk {
					margin-top: 0.25em;
					padding: 0.5em 0 0 0.25em;
					border-top: #333 solid 1px;
					min-height: 1em;
					.title > a {
						color: #ccc;
					}
					> i {
						font-size: 1rem;
					}
				}
			}
		}
	}
}

.sponsor {
	overflow: hidden;
	a {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.15);
		opacity: 0.9;
		text-align: center;

		span.title {
			display: none;
		}
		span.logo {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			display: block;
			width: 100%;
			img {
				vertical-align: middle;
				width: 90%;
				-webkit-filter: grayscale(1);
				filter: grayscale(1);
			}
		}
		&:hover {
			opacity: 1;
			span.logo {
				img {
					filter: none;
				}
			}
		}
	}
}

.section-sessions {
	.session {
		position: relative;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: .25rem;
		overflow: hidden;
		.speaker {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: .25rem;
		}
		.title {
			padding: .25rem 0;
		}
		.description {
			font-size: .8rem;
			display: none;
		}
		.summary {
			font-size: .8rem;
			display: block;
		}
		.more-less {
			color: $color_bright_red_approx;
			font-size: 2rem;
			line-height: .9;
			background: $black_5;
			margin: 0 -1rem;
		}
		.less {
			display: none;
		}
		.more {
			display: block;
		}
		a {
			white-space: nowrap;
		}
	}
	.open .session {
		.more {
			display: none;
		}
		.summary {
			display: none;
		}
		.description {
			display: block;
		}
		.less {
			display: block;
		}
	}
}

.section-signup {
	.section-title {
		font-size: 2.25em !important;
		margin: 0 0 1rem !important;
	}
	.form-control {
		min-width: 200px;
	}
	.form-group {
		margin: 0 .5rem 1rem;
	}
	.text-danger {
		display: none;
		font-size: 1.5rem;
	}
	.text-success {
		display: none;
		font-size: 1.5rem;
		line-height: 3rem;
	}
	.btn-lg {
		line-height: 1.1;
	}
	.has-danger .text-danger {
		display: block;
	}
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.section-default {
	min-height: 100vh;
	.section-title {
		padding-top: 1rem;
	}
}

.img-wrapper img {
	height: auto;
	width: auto;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.modal .close {
	font-family: sans-serif;
	color: $white;
	opacity: .9;
	font-weight: 400;
	position: relative;
	z-index: 1050;
}

.modal-backdrop.in {
	opacity: .85;
}

.open > .btn-primary.dropdown-toggle {
	color: $white;
	background: $color_bright_red_approx none;
	border-color: $color_bright_red_approx;
	&.focus {
		background-color: $color_bright_red_approx;
		color: $white;
		border-color: $color_bright_red_approx;
	}
	&:focus {
		background-color: $color_bright_red_approx;
		color: $white;
		border-color: $color_bright_red_approx;
	}
	&:hover {
		background-color: $color_bright_red_approx;
		color: $white;
		border-color: $color_bright_red_approx;
	}
}

.section-partners .partner {
	padding-bottom: 1.875rem;
	text-align: center;
	> a {
		display: block;
		position: relative;
		.name {
			display: block;
			position: absolute;
			top: 50%;
			width: 100%;
			font-size: 1.5rem;
			margin-top: -1rem;
			color: $white;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: 0 0 .5em $black_75;
			opacity: .01;
		}
		&:hover .name {
			opacity: .85;
		}
	}
}

.keynote-speaker .contributor {
	padding: 0;
	.img-content-sep {
		margin-bottom: 1rem;
	}
	.circle-awesome {
		margin-bottom: 0;
	}
}
